# Built objects
bin/
gen/
out/
build/
.gradle/

# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
.externalNativeBuild
.cxx/

# Local configuration file (contains path to Android SDK)
local.properties

# Log files
*.log

# Android Studio captures folder
captures/

# OS X
.DS_Store

# Windows
Thumbs.db

# Miscellaneous
/app/release/
/Target/
/deploy.ps1
/web/
/AI_INSTRUCTIONS.md
.kotlin/
*.csv
*.xlsx
*.CSV
*.XLSX